@import './variables';
@import './mixins';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

h1 {
  color: mat-primary;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  // color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[text], button {
  // color: #888;
  // padding-top: 2rem;
  font-family: Cambria, Georgia;
}
body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
#main {
  height: calc(100% - 64px);
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 64px;
  @media (max-width: 600px) {
    height: calc(100% - 56px);
    padding-top: 56px;
  }
  // margin-bottom: 64px;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

.cdk-overlay-pane {
  @media (max-width: 600px) {
    max-width: 90vw !important;
  }
}

.mat-dialog-container {
  @media (max-width: 600px) {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
  }
}
