@import '../../sass/variables';
@import '../../sass/mixins';

.photo-lg {
  width: auto;
  max-height: 70vh;
  max-width: 70vw;
  border-radius: 1px;
  @media (max-width: 600px) {
    max-height: 85vh;
    max-width: 85vw;
  }
}

.photo-modal-content {
  max-height: 80vh;
  padding-left: 1em;
  padding-right: 1em;
  @media (max-width: 600px) {
    max-height: 90vh;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}
