@import '../../sass/variables';
@import '../../sass/mixins';

.photo-lg {
  width: auto;
  max-height: 70vh;
  max-width: 80vw;
  border-radius: 1px;
}

.photo-modal-content {
  max-height: 80vh;
  padding: 2em;
}
