@import '../../sass/variables';
@import '../../sass/mixins';
$break-small: 500px;

.button-row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2vh;
}

#title {
  color: $primary;
  margin-top: 20vh;
  // @media screen and (max-device-width: 500px) {
  //   magin-top: 10vh;
  // }
  margin-bottom: 0;
}

#logo-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  height: auto;
}

#logo {
  width: 100%;
  min-width: 350px;
  height: 100%;
}

#subtitle {
  color: $primary;
  margin-bottom: 0;
}

.note {
  margin-left: auto;
  margin-right: auto;
  width: 47vw;
  min-width: 300px;
}
