@import '../sass/variables';
@import '../sass/mixins';

#navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

#nav-content {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

app-nav-bar-main {
  position: relative;
  float: right;
}
